name: "Deploy Files"
description: "Deploy files to server via SSH"

inputs:
  ssh_private_key:
    description: "SSH private key"
    required: true
  remote_host:
    description: "Remote host"
    required: true
  remote_user:
    description: "Remote user"
    required: true
  target:
    description: "Target directory"
    required: true

runs:
  using: "composite"
  steps:
    - name: Setup SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ inputs.ssh_private_key }}
        known_hosts: unnecessary

    - name: Add known hosts
      shell: bash
      run: |
        ssh-keyscan -H -p 33022 ${{ inputs.remote_host }} >> ~/.ssh/known_hosts

    - name: Deploy docs
      shell: bash
      run: |
        rsync -arvh --delete-after -e "ssh -p 33022" apps/www/dist ${{ inputs.remote_user }}@${{ inputs.remote_host }}:${{ inputs.target }}/apps/www

    - name: Deploy registry
      shell: bash
      run: |
        rsync -arvh --delete-after -e "ssh -p 33022" apps/www/public/r ${{ inputs.remote_user }}@${{ inputs.remote_host }}:${{ inputs.target }}/apps/www/dist
