:root {
    // Боковые оффсеты страницы
    --offset-x: 48px;

    // Максимальная ширина .wrapper
    --wrapper-max-width: 3840px;

    // Сетка
    --grid-columns: 12;
    --grid-gap: 10px;
    --grid-column-width: calc(
        min(var(--wrapper-max-width), (100vw - var(--scrollbar-width, 0px) - var(--offset-x) * 2)) /
            var(--grid-columns) - var(--grid-gap) * ((var(--grid-columns) - 1) / var(--grid-columns))
    );

    // Высота хедера
    --header-height: 94px;
}
