@use '@/app/css/base/variables' as *;
@use '@/app/css/utils/mixins' as *;

* {
    @include scrollbar;
}

:root {
    interpolate-size: allow-keywords;
}

html {
    background-color: $body-bg;
    color: $body-color;

    &:has(dialog.popup[open]) {
        overflow: hidden;
    }

    &.no-scroll {
        overflow: hidden;
        padding-right: var(--scrollbar-width, 0px);
    }
}

body {
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0%);
    min-height: calc(var(--vh, 1vh) * 100);
    font-family: $font-family;
    display: flex;
    flex-direction: column;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

:focus {
    outline-color: currentColor;
}

:focus-visible {
    @include outline;
}

%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
}

.visually-hidden {
    @extend %visually-hidden;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: var(--wrapper-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--offset-x);
    padding-right: var(--offset-x);
}

%img-fluid {
    max-width: 100%;
    height: auto;
}

.img-fluid {
    @extend %img-fluid;
}

.pointer-events-none {
    // stylelint-disable-next-line declaration-no-important
    pointer-events: none !important;
}

.pointer-events-auto {
    // stylelint-disable-next-line declaration-no-important
    pointer-events: auto !important;
}

/*! beasties:include start */

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*! beasties:include end */
